// Place all the styles related to the Regions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.chart-container {
  position: relative;
  margin: auto;
  height: 60vh;
}


.chart-container p {
  margin: 10px;
  text-align:center;
}
